# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.component

#misc
*~
Builds/MacOSX/micronau.xcodeproj/project.pbxproj
Builds/MacOSX/micronau.xcodeproj/project.xcworkspace/xcuserdata/
JuceLibraryCode/BinaryData.cpp
JuceLibraryCode/BinaryData.h
